<div style = "
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    font-size: 20px;
    font-family: Arial;
">
    <p>Made with <span style = "color: red;">&#10084;</span> for Delta</p>
</div>
