<div class = "header-bar">
    <div class = "tagline" style = "font-size: 40px; margin-left: 20px; margin-top: 0px;">Quizzhub</div>
    <div class = "nav-bar">
        <a href="/about">About</a>
        <a href="/sign-up">Sign Up</a>
        <a href="/Login">Login</a>
    </div>
</div>

