<div class = "header-bar">
    <a href="/home"><div class = "tagline" style = "font-size: 30px; margin-top: 0; margin-left: 20px;">Quizzhub</div></a>
    <div class = "nav-bar">
        <!--div class = "Search"-->
        <div>
            <form action="/search" method = "GET">
                <input class = "search-box" type="text" name = "searchUser" placeholder = "Search">
                <button class="search-button"><i class="material-icons search-icon">search</i></button>            
            </form>
            
        </div>
        
        <!--/div-->
        
        <div class = "username"><p><%= user%></p></div>
    </div>
</div>